*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

main{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form{
  min-width: 300px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input::placeholder{
  color: #aaa;
}

input:focus{
  border-color: #ccc;
  box-shadow: 0 0 5px rgba(78, 78, 78, 0.5);
  outline: none;
}

button{
  min-width: 100px;
  width: 100%;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
  background-color: #007BFF;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover{
  background-color: #0056b3;
}

h1{
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

p{
  font-size: 14px;
  color: #333;
}
