nav{
    width: 200px;
    height: 100vh;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav .logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}

nav .logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

nav .logo h2{
    color: #333;
    font-size: 24px;
    margin-left: 10px;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    margin: 10px 0;
}

nav ul li a{
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    padding: 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover{
    background-color: #f0f0f0;
}

.user-info{
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    padding: 10px;
    gap: 8px;
    cursor: pointer;
}

.user-info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-info p{
    color: #333;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}